body{
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: #e5e5e5; 
}

form{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userName{
  margin-bottom: 10px;
  outline: none;
}

input[type="submit"]{
  background-color: #e50914;
  color: white;
  border: none; 
  padding: 5px 10px;
  border-radius: 10px;
}